doctype html5

html
  head
    meta(charset='utf-8')
    title FluxoJs
    link(rel='stylesheet' href='/css/dashboard.css')

  body
    header
      h1 FluxoJs

      nav
        a(href="#") &larr;
        a.currentmonth(href="#") Outubro
        a(href="#") &rarr;

      nav
        a(href="#") Clonar
        a(href="#") Configurar
        a(href=router.url('logout')) Sair

    main
      #mainarea

    script(src="/js/dashboard.js")
