doctype html5
html
  head
    meta(charset='utf-8')
    title FluxoJs
    link(rel='stylesheet' type='text/css' href='/css/login.css')
  body
    h1 FluxoJs

    if error
      .warning= error

    form(method='post' action='/login')
      label
        span E-mail
        input(type='email' name='email' required=true value=email || '')

      label
        span Senha
        input(type='password' name='password' required=true)

      button(type='submit') Entrar
